* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.25%;
}
body {
  font-size: 1.6rem;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}
